In [ ]:
# 18-09-2023 Tipe Data (Number)
# String
# Integer
# Float
# Boolean

In [6]:
a = 10

In [3]:
type(a)

int

In [4]:
b = 1.7

In [5]:
type(b)

float

In [ ]:
a = 1

In [8]:
type(a)

int

In [2]:
age = 20
print("How old is Fajar =", age)

How old is Fajar = 20

In [9]:
b = 1.0

In [10]:
type(b)

float

In [13]:
data = 4 # task 1

In [33]:
type(a)

int

In [15]:
b = 3.1 # task 1

In [37]:
type(b)

float

In [4]:
nilai = 7.5
print("Nilai:", nilai)

Nilai: 7.5

In [17]:
data_int = 42

In [18]:
print("Nilai integer:", data_int)

Nilai integer: 42

In [22]:
bilangan_imajiner = 3 + 4j

In [24]:
print("Bilangan Imajiner = ", bilangan_imajiner)

Bilangan Imajiner =  (3+4j)

In [25]:
c = 1+2j #Bilangan Kompleks

In [26]:
type(c)

complex

In [ ]:
c = 2+4j # task 2

In [31]:
type(c)

complex

In [42]:
a = "hello word"

In [43]:
type(a)

str

In [ ]:
a = "hallo word"

In [44]:
print(a)

hello word

In [48]:
a =""" Bootcamp Data Science.
Kamous Merdeka X MyEduSolve.
Kelas D."""

In [50]:
print(a)

 Bootcamp Data Science.
Kamous Merdeka X MyEduSolve.
Kelas D.

In [51]:
b = "Bootcamp Data Science.\nKampus Merdeka X MyEduSolve, \nKelas B."

In [52]:
print(b)

Bootcamp Data Science.
Kampus Merdeka X MyEduSolve,
Kelas B.

In [53]:
a = "Ini adalah sebuah string."

In [54]:
print(a)

Ini adalah sebuah string.

In [1]:
# Membuat string dengan triple petik
data = """
Kami adalah kelompok 2
"""

In [2]:
print(data)

Kami adalah kelompok 2

In [1]:
name = "Daniel"
message = "Hello," + name 
print (message)

Hello,Daniel

In [3]:

data_1 = "kami adalah\nkelompok 2"

In [4]:
print(data_1)

kami adalah
kelompok 2

In [61]:
2 > 5

False

In [62]:
2 ==5

False

In [63]:
2 <= 2

True

In [66]:
2 != 3

True

In [67]:
a = 4
b = 2
hasil = a > 3
print(a,'>',3,'=', hasil)

4 > 3 = True

In [5]:
A = True
B = False
print("Apakah benar?", A)
print("Apakah salah?", B)

Apakah benar? True
Apakah salah? False