In [ ]:
# 21-09-2023
# Tipe Data  Set > adalah tipe data yang digunakan untuk menyimpan sekumpulan nilai unik tanpa urutan tertentu

In [10]:
a = {1, 2, 3, 4,4,5,5,6,7} # Set adalah himpunan

In [14]:
print(a) # Hanya mengambil yang unik saja

{1, 2, 3, 4, 5, 6, 7}

In [16]:
for item in a: #  untuk mengambil setiap elemen satu per satu.
    print(a)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [1]:
buah = {'apel', 'mangga', 'pisang'}
buah.add('jeruk')

In [2]:
print(buah)

{'apel', 'pisang', 'jeruk', 'mangga'}

In [17]:
a ={1,2,3}

In [18]:
print(a)

{1, 2, 3}

In [19]:
b = {2,3,4,5,6}

In [20]:
print(b)

{2, 3, 4, 5, 6}

In [21]:
a.union(b) # Untuk menggabungkan dua set menjadi satu set yang berisi semua elemen

{1, 2, 3, 4, 5, 6}

In [22]:
a.intersection(b) # Untuk menghasilkan set yang berisi semua elemen yang ada dalam kedua set {hanya irisannya saja}

{2, 3}

In [23]:
b = {1,2,3,4,5} # Task 1

In [24]:
print(b)

{1, 2, 3, 4, 5}

In [27]:
c = {1,2,"budi","wahyu","ahmad"}

In [28]:
print(c)

{'budi', 1, 2, 'wahyu', 'ahmad'}

In [29]:
b.union(c)

{1, 2, 3, 4, 5, 'ahmad', 'budi', 'wahyu'}

In [30]:
b.intersection(c)

{1, 2}

In [ ]:
# Dictionary Kamus adalah tipe data yang digunakan untuk menyimpan data dalam bentuk pasangan kunci (key) dan nilai (value)

In [36]:
a = {"Nama" :"Daniel Adless", "usia" : 20}

In [37]:
type(a)

dict

In [38]:
a["Nama"] # hanya dapat di panggil (Key) tidak dengan (value)

'Daniel Adless'

In [39]:
a["usia"]

20

In [ ]:
# Task 2

In [3]:
a = kelompok_2 = {
    "nama_kelompok": "Data Analyst",
    "anggota": {
        "anggota1": "Daniel",
        "anggota2": "Fitri",
        "anggota3": "Aulia",
        "anggota4": "Salsa",  
        "anggota5": "Arum"
    },
    "pathway": "Data Analytics"
}

In [4]:
type(a)

dict

In [9]:
anggota_pertama = a["anggota"]["anggota1"]
print(anggota_pertama)

Daniel

In [ ]:
# if

In [10]:
namaku = "Ko yu Rim"

In [12]:
if namaku:
    print("Benar namaku {}".format(namaku))

Benar namaku Ko yu Rim

In [ ]:
namaku = "Ko yu Rim"

In [13]:
if namaku:
    print("Nama saya adalah {}".format(namaku))

Nama saya adalah Ko yu Rim

In [15]:
usiaku = "24"

In [17]:
if usiaku:
    print("Umur saya adalah {}".format(usiaku))

Umur saya adalah 24

In [ ]:
# Task 3

In [22]:
cuaca_cerah = True

In [23]:
if cuaca_cerah:
    print("Saya akan pergi liburan")

Saya akan pergi liburan

In [24]:
cuaca_mendung = True

In [25]:
if cuaca_mendung:
    print("Saya batal pergi liburan")

Saya batal pergi liburan

In [ ]:
# Else

In [ ]:
usia = int(input("usia anda: "))

In [ ]:
int(input())

In [ ]:
usia = int(input("16: "))

if usia >= 17:
    print('Sudah punya KTP')
else:
    print('Belum punya KTP')

In [ ]:
# Task 4

In [ ]:
keterangan = input("apakah anda sedang menerima beasiswa saat ini? (ya/tidak")")

if keterangan == "YA":
    print('Anda tidak dapat mengajukan beasiswa lagi.')
else :
    print('anda dapat mengajukan beasiswa.')

In [9]:
usia = 18

if usia >= 18:
    hasil = "Anda sudah dewasa"
else:
    hasil = "Anda masih di bawah umur"

print("Hasil: " + hasil)

Hasil: Anda sudah dewasa