In [ ]:
# 22-09-2023
# elif adalah bagian dari struktur percabangan yang digunakan untuk mengevaluasi beberapa kondisi secara berurutan.

In [ ]:
nilai =  int(input("Beberapa nilai anda; "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
elif nilai >= 60:
    print("Anda mendapatkan nilai B")
else:
    print("Anda nilai C")

In [ ]:
usia = 30

if usia < 16:
    status = "Anda masih di bawah umur"
elif usia >= 16 and usia < 60:
    status = "Anda dewasa"
else:
    status = "Anda sudah tua"

print(f"Status: {status}")

In [1]:
# Task 1

nilai_imt = float(input("Berapa nilai IMT Anda : "))

if nilai_imt < 17:
    kategori_bb = "Sangat kurus"
elif nilai_imt >= 17.0 and nilai_imt < 18.5:
    kategori_bb = "Kurus"
elif nilai_imt >= 18.5 and nilai_imt < 25.0:
    kategori_bb = "Normal"
elif nilai_imt >= 25.0 and nilai_imt < 27.0:
    kategori_bb = "Gemuk (overweight)"
else:
    kategori_bb = "Gemuk (obesitas)"

print(f"Nilai IMT kamu adalah {nilai_imt}, kategori: {kategori_bb}")

Berapa nilai IMT Anda : 19
Nilai IMT kamu adalah 19.0, kategori: Normal

In [2]:
# for adalah salah satu cara yang sangat berguna untuk mengulangi aksi tertentu pada setiap elemen dalam koleksi data seperti list, tuple, set, atau string.

for i in 'data':
    print("huruf {}".format(i))

huruf d
huruf a
huruf t
huruf a

In [5]:
color = ["Merah", "Kuning", "Hijau"]

for warna in color:
    print("Warna {}".format(warna))

Warna Merah
Warna Kuning
Warna Hijau

In [8]:
# Task 2 List
Kelompok_2 = ["Daniel", "Fitri", "Salsa", "Aulia", "Arum"]
pesan = "Halo, "
for nama in Kelompok_2:
    pesan += nama + " "

print(pesan)

Halo, Daniel Fitri Salsa Aulia Arum

In [11]:
for i in range(4): # Range dlm python di mulai dari angka 0
    print(i)

0
1
2
3

In [12]:
for i in range(4,7): # Jika ingin mengambil nilai tertentu menggunakan format ini
    print(i)

4
5
6

In [13]:
# Task 3
# Menggunakan range dengan satu parameter (mulai dari 0, hingga sebelum 5)
for i in range(5):
    print(i)

0
1
2
3
4

In [14]:
# Menggunakan range dengan dua parameter (mulai dari 2, hingga sebelum 8)
for j in range(2, 8):
    print(j)

2
3
4
5
6
7

In [21]:
# For bertingkat

for row in range(3):
    for col in range(3):
        if row == 2 and col == 2:
            print("end", end=" ")
        elif row == 1 and col <= 1:
            print("", end=" ")
        else:
            print("-", end=" ")
    print()

- - -
  -
- - end

In [22]:
# Task ke 4

for row in range(4):
    for col in range(4):
        if row <= col:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * *
  * * *
    * *
      *

In [23]:
for row in range(4):
    for col in range(4):
        if row == 0 and col <= 3:
            print("*", end = " ")
        elif row == 1 and col <= 2:
            print("*", end = " ")
        elif row == 2 and col <= 1:
            print("*", end = " ")
        elif row == 3 and col <= 0:
            print("*", end = " ")
    print()

* * * *
* * *
* *
*